body.ipProtection{
	height: 100%!important;
	background-color: #f2f2f2!important

}
body.ipProtection::before{
	content: "";
	background-color: #0AC878;
	position: fixed;
	z-index: -1;
	transform: rotate(-45deg);
	width: 50vh;
	height: 50vh;
	top: -10vh;
	right: -10vh;
}
body.ipProtection main{
	box-sizing: border-box;
	background-color: #fff;
	font-size: 1.4rem;
	border-radius: 1rem;
	margin: 5vh 5vh 0;
	height: 90%;
	padding: 5vh;
	position: relative;
	text-align: center;
}
body.ipProtection h1{
	font-size:3rem;
	text-align: center;
	right: 5vh;
	left: 5vh;
	overflow: hidden;
	line-height: 5rem;
	height: 5rem;
	margin: 5rem 0 0;
}
body.ipProtection h2{
	font-size: 1.6rem;
	text-align: center;
	position: absolute;
	bottom: 2rem;
	right: 0;
	left: 0;
}

