
transform
border-b
shadow-sm
shadow
hover:shadow-md
focus:shadow-lg
ring-1
blur
grayscale,.filter
container
visible
fixed
absolute
relative
z-10
m-56
mx-auto
mx-1
mb-10
mt-6
mb-2
mt-3
mb-2.5
block
inline-block
inline
flex
inline-flex
table
grid
hidden
h-screen
h-20
h-32
h-full
h-12
h-8
h-10
w-3
w-full
w-20
w-32
w-5
w-8
w-14
w-16
w-12
max-w-sm
max-w-md
flex-1
flex-none
flex-shrink-0
flex-grow
grow
transform
select-none
resize
grid-cols-1
flex-col
flex-wrap
content-center
content-end
items-center
justify-center
justify-between
gap-5
overflow-hidden
rounded-full
rounded-lg
border-b
border-gray-200

p-5
p-10
p-3
p-1
py-2
px-10
px-5
py-24
px-1
px-3
pt-10
pb-10
text-left
text-center
text-sm
text-lg
text-2xl
font-medium
font-bold
leading-normal

shadow-sm
shadow
ring-1
ring-black
ring-opacity-5
blur
grayscale
filter
transition
ease-out
ease-in-out
hover:shadow-md:hover
focus:shadow-lg:focus
sm:mt-0
sm:mr-10
sm:mb-4
sm:h-32
sm:w-32
sm:max-w-xl
sm:grid-cols-2
sm:flex-row
sm:text-left
sm:text-3xl
sm:text-base

md:mb-6
md:gap-6
md:p-10
md:py-3
md:text-4xl
md:leading-normal


lg:block
lg:w-3/5
lg:grid-cols-3
lg:p-14
lg:py-4
