// styles of btn as default
.btn2{
	cursor: pointer;
	display: inline-block;
	outline: none;
    padding: 1.5rem 1rem;
	text-decoration:none;
	text-align:center;
	border-radius:.3rem;
	white-space:nowrap;
	vertical-align: middle;
	user-select:none;
	border: 1px solid transparent;
	line-height:18px;
	font-weight:700;
	background-color:#e2e2e2;
    color: #fff;
	overflow: hidden;
	font-size:1.5rem;
	max-width:100%;
	text-overflow:ellipsis;
    margin: 0 auto;
    font-weight: 700;
    transition: all 150ms ease;
}
.btn2.block{
    display: block;
    width: 75%;
}
.btn2.blue{background-color: #33b0e0;}
.btn2.red{background-color: #e46d59;}
.btn2.green{background-color: #95ca7d;}

.btn2:hover{color: #fff;transform: scale(1.05);}
.btn2:focus{color: #fff;transform: scale(1.1);}
.btn2:active{color: #fff;transform: scale(1);}
.btn2.disabled{cursor:default;opacity: 0.4;}
