

[data-confirm]{cursor:pointer}

/* sizes */
.xs{
	font-size: 60%;
}
.sm{
	font-size: 85%;
}
.lg{
	font-size: 120%;
}
.xl{
	font-size: 150%;
}

:disabled{
	pointer-events: none;
	cursor: not-allowed;
	opacity:0.6;
}
[data-loading-form] form{
	cursor:progress;
}
[data-loading-form] form :disabled{
	pointer-events: auto;
	cursor: progress;
}
[data-loading-form] form.submitedForm :disabled{
	cursor: wait;
}
.disabled{
	opacity:0.6;
}

[dir="ltr"] .txtRa{
	text-align: right!important;
}
[dir="rtl"] .txtRa{
	text-align: left!important;
}

[dir="ltr"] .txtLa{
	text-align: left!important;
}
[dir="rtl"] .txtLa{
	text-align: right!important;
}


img.avatar{
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	overflow:hidden;
}

[dir="ltr"] .vcard .avatar{
	margin-right: 3px;
}
[dir="rtl"] .vcard .avatar{
	margin-left: 3px;
}

