[data-magicbox]{
    transition: 0.3s;;
	will-change: transform, filter;
}
[data-magicbox] img{
	transition: 0.3s;
    will-change: transform, filter;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
}
[data-magicbox="zoom"]:hover{
    transform: scale(1.03);
    filter: brightness(110%);
    z-index: 9;
}
[data-magicbox="dark"] picture::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.7) 100%);
    transition: 0.3s;
    opacity: 0.7;
    z-index: 1;
}
[data-magicbox="dark"]:hover img{
	transform: scale(1.05);
	filter: brightness(110%);
}
[data-magicbox="dark"] picture:hover::after {
    opacity: 0.8;
}
[data-magicbox="light"] picture::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.4) 80%, rgba(255,255,255,0.7) 100%);
    transition: 0.3s;
    opacity: 0.7;
    z-index: 1;
}
[data-magicbox="light"]:hover img{
    transform: scale(1.05);
    filter: brightness(95%);
}
[data-magicbox="light"] picture:hover::after {
    opacity: 0.8;
}

[data-magicbox] picture.rounded-sm::after{
    border-radius: 0.125rem;
}
[data-magicbox] picture.rounded::after{
    border-radius: 0.25rem;;
}
[data-magicbox] picture.rounded-md::after{
    border-radius: 0.375rem;
}
[data-magicbox] picture.rounded-lg::after{
    border-radius: 0.5rem;
}
[data-magicbox] picture.rounded-xl::after{
    border-radius: 0.75rem;
}
[data-magicbox] picture.rounded-2xl::after{
    border-radius: 1rem;
}
[data-magicbox] picture.rounded-3xl::after{
    border-radius: 1.5rem;
}
[data-magicbox] picture.rounded-full::after{
    border-radius: 9999px;
}

