// redbox
.domainQuickBuy{
  background-color: rgba(200,9,90,0.8);;
  color: #fff;
  padding: 2rem 5%;
  text-align: center;
  border-radius: .5rem;
}
.domainQuickBuy h3{
	font-size: 1.2em;
}
.domainQuickBuy h3 a{
	color: #fff!important;
}
.domainQuickBuy h3 .txtB{
	font-weight: 700!important;
	color: #f44336;
}
.domainQuickBuy .input{
	border-radius: 4rem;
	overflow: hidden;
	background-color: #fff;
	padding:7px;
	direction: ltr;
}
.domainQuickBuy .input input{
	border-color: transparent!important;
	font-size: 1.2em;
}
.domainQuickBuy .input button{
	border-radius: 4rem!important;
	border-color: transparent!important;
	color: #fff;
}
[data-pwa] .domainQuickBuy{
	font-size: 1.1rem;
}