.emptyState{
	max-width: 90%;
	width: 50rem;
	margin: 1rem auto 0;
	padding-bottom: 2rem;
	border-radius: 2rem;
	background-color: #fff;
	// font-size: 1.2rem;
	overflow: hidden;
	text-align: center;
}
[data-pwa] .emptyState{
	max-width: 96%;
}
.emptyState img{
	width: 25rem;
	margin: 0 auto 1rem;
	display: block;
	filter: grayscale(1);
	transition: 0.3s;
	will-change: filter;
}
[data-pwa] .emptyState img{
	width: 20rem;
}
.emptyState.search img{
	filter: grayscale(0);
}
.emptyState:hover img{
	filter: grayscale(0.5);
}

.emptyState h2{
	color: #678;
}
.emptyState h3{
	color: #9aa;
}
.emptyState a{
	font-size: 2rem;
	line-height: 4rem;
	border-radius: 4rem;
	background-color: #fd6864;
	background: linear-gradient(to left, #fd6864, #dc3535);
	color: #fff;
	display: inline-block;
	margin: 2rem auto;
	padding: 1rem 2rem;
	transition: 0.3s;
	will-change: transform;
}
[data-pwa] .emptyState a{
	font-size: 1.6rem;
}
.emptyState a:hover{
	opacity: 0.9;
	transform: scale(1.05);
}
.emptyState a:focus{
	transform: scale(1.1);
	opacity: 0.8;
}
.emptyState a:active{
	transform: scale(1);
	opacity: 1;
}
.emptyState a::before{
	content: "\e03d";
	font-family: "siftal" !important;
	font-size: 3rem;
	line-height: 3rem;
	width: 3rem;
	height: 3rem;
	margin: 0 0.5rem;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
[data-pwa] .emptyState a::before{
	display: none;
}

