
[data-jform] label .txtB{
	font-weight: 900!important;
}
[data-jform] label.q{
	font-weight: 700;
}
[data-jform] label.q span{
	font-weight: 700;
}
[data-pwa] [data-jform] label small{
	font-size: 0.9rem;
}
[data-pwa] [data-jform] .msg{
	font-size: 1.2rem;
}

