
[data-panel] [data-option]{
	position: relative;
	font-size: 1.4rem;
	margin: 1rem auto 2rem;
	border:1px solid #d5d7d8;
	overflow: hidden;
	border-radius: 0.5rem;
	background-color: #fff;
	color: #333;
}
[data-panel] [data-option] .data{
	padding: 3rem;
}
[data-panel] [data-option] .action{
	border-left:1px solid #d5d7d8;
	background-color: #f7f7f8;
	padding: 2em;
	transition: 0.3s;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
[data-panel] [data-option] .action.dropzone{
	flex-direction: column;
}
[data-panel] [data-option] .action.dropzone .progress{
	min-width: 100%;
}
[dir='rtl'] [data-panel] [data-option] .action{
	border: none;
	border-right:1px solid #d5d7d8;
}
[data-panel] [data-option]:hover .action{
	background-color: #f5f5f5;
}
[data-panel] [data-option] h3{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.5em;
}
[data-panel] [data-option] p{
	margin-bottom: 0;
}
[data-panel] [data-option] p+p{
	margin-top: 1em;
}
[data-panel] [data-option] .radio1{
	margin: 0.5rem 1rem;
}
[data-panel] [data-option] .body{
	font-size: 1.6rem;
	color: #555;
}
[dir="rtl"] [data-panel][data-option] .body{
	font-size: 1.4rem;
}
[data-panel] [data-option] .meta{
	font-size: 1em;
	color: #777;
}
[data-panel] [data-option] .btn.primary{
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-weight: normal;
}
[data-panel] [data-option] footer{
	border-top:1px solid #d5d7d8;
}
// switch

[data-panel] [data-option] .switch1 label:first-of-type{
	min-width: 90px;
	background: #e0e0e0;
}
[data-panel] [data-option] .switch1 label:first-of-type:after{
	background: #4c5258;
}
// switch on fa
html[lang=fa] [data-panel] [data-option] .switch1 label:first-of-type{
	min-width: 100px;
}
html[lang=fa] [data-panel] [data-option] .switch1 label:first-of-type:before{
	font-size: 1.2rem;
}
html[lang=fa] [data-panel] [data-option] .switch1 input:checked+label:first-of-type:before
{
	font-size: 1.4rem;
}
