.seoRank{

}
.seoRank[data-size='hero']{
  font-size: 10rem;
}
[data-pwa] .seoRank[data-size='hero']{
  font-size: 5rem;
}
.seoRank i{
  display: inline-block;
}
.seoRank i::before{
  display: block;
}

