.stat{
  position: relative;
  background-color: #fff;
  box-shadow: #ddd 0 0 5px;
  font-size: 1.4rem;
  margin:0 auto 1rem;
  display: block;
  border-radius: $myRadius;
  text-align: center;
  transition: 0.2s ease-in-out;
  height: 10rem;
  min-width: 5rem;
}
.stat.active{
	transform: scale(0.95);
}
.stat.active .val{
	border-bottom: 2px solid #0E6EB8;
}
.stat h3{
	display: block;
	font-size: 1em;
	font-weight: 700;
	color: #333;
	line-height: 2rem;
	height: 3rem;
	padding: 1rem 1rem 0;
	margin: 0;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	opacity: 0.5;
	transition: 0.3s;
}
.stat .val{
	display: block;
	font-size: 2em;
	color: #777;
	line-height: 5rem;
	height: 7rem;
	padding: 1rem 1rem;
	margin: 0;
  overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
}
.stat footer{
	display: block;
	color: #777;
	line-height: 3rem;
}
// reaction
.stat:hover{
	transform: scale(0.9);
	background-color: #f6f6f6;
}
.stat:focus{
	background-color: #efefef;
}
.stat:focus h3{
	opacity: 1;
}
.stat:active{
	background-color: #e6e5eb;
	transform: scale(0.8);
}

.stat.x70{
  height: 7rem;
  font-size: 1.2rem;
}
.stat.x70 h3{
  padding: 0.5rem 0.5rem 0;
}
.stat.x70 .val{
	line-height: 3rem;
	font-size: 1.5em;
	padding: 0.5rem;
	height: 4rem;
}

.stat.x50{
  height: 5rem;
  font-size: 1rem;
}
.stat.x50 h3{
  padding: 0 0.5rem;
  height: 2rem;
}
.stat.x50 .val{
	line-height: 2rem;
	font-size: 1.5em;
	padding: 0.5rem;
	height: 3rem;
}
