
$myRadius: 0.25rem;
$myRadiusPWA: 0.8rem;
// --------------------------------- items
// items height
$myItemHeight: 5rem;
$myItemHeight_Long: 4rem;
$myItemHeight_PWA: 4.5rem;

// item line height
$myItemLineHeight: 4rem;
$myItemLineHeight16x9: 7.1rem;
$myItemLineHeight_Long: 3rem;
$myItemLineHeight_PWA: 3.5rem;
$myItemLineHeight16x9_PWA: 6.2rem;



