.jSlider1{
	overflow: hidden;
	border-radius: 0.5rem;
	margin-bottom: 5rem;
}
.jSlider1 .slick-next {
    z-index: 1;
    right: 2.5rem;
    background: transparent;
}
[dir='rtl'] .jSlider1 .slick-next{
	right: auto;
	left: 2.5rem;
}
.jSlider1 .slick-prev {
    z-index: 1;
    left: 2.5rem;
    background: transparent;
}
[dir='rtl'] .jSlider1 .slick-prev{
	left: auto;
	right: 2.5rem;
}
