.jSlider1{
	overflow: hidden;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
}
.jSlider1 .slick-next {
    z-index: 1;
    right: 2%;
    background: transparent;
}
[dir='rtl'] .jSlider1 .slick-next{
	right: auto;
	left: 2%;
}
.jSlider1 .slick-prev {
    z-index: 1;
    left: 2%;
    background: transparent;
}
[dir='rtl'] .jSlider1 .slick-prev{
	left: auto;
	right: 2%;
}

.imgLine a {
	display: block;
}
.imgLine a img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1rem;
	display: block;
	min-width: 120px;
}