.jSlider1{
	overflow: hidden;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	transition:0.2s;
}
.jSlider1[data-slider-ratio="1.78"]{
	height: 0;
	padding-top: 56.25%;
}
.jSlider1[data-slider-ratio="1.33"]{
	height: 0;
	padding-top: 75%;
}
.jSlider1.slick-initialized{
	height: auto;
	padding-top: 0;
}
.jSlider1[data-slider-ratio] .roundedBox:first-child{
	position: absolute;
	top: 0;
}
.jSlider1.slick-initialized[data-slider-ratio] .roundedBox{
	position: initial;
}
.jSlider1 .slick-next {
    z-index: 1;
    right: 2%;
    background: transparent;
}
[dir='rtl'] .jSlider1 .slick-next{
	right: auto;
	left: 2%;
}
.jSlider1 .slick-prev {
    z-index: 1;
    left: 2%;
    background: transparent;
}
[dir='rtl'] .jSlider1 .slick-prev{
	left: auto;
	right: 2%;
}
.imgLine a {
	display: block;
}
.imgLine a img{
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	display: block;
	min-width: 120px;
	margin-bottom: 1rem;
}
.imgLine .row.padMore a img{
	margin-bottom: 2rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}
.imgLine .row.padMore2 a img{
	margin-bottom: 3rem;
	-webkit-border-radius: 1.5rem;
	-moz-border-radius: 1.5rem;
	border-radius: 1.5rem;
}