.cartPage h1{
	font-size: 2rem;
	margin-bottom:1rem;
}
[data-pwa] .cartPage h1{
	display: none;
}
.cartPage .box{
	padding: 1.5rem;
}
.cartPage .cartItem{
}
.cartPage .cartItem + .cartItem{
	border-top: 1px solid #eee;
	margin-top: 1rem;
	padding-top: 1rem;
}
.cartPage .cartItem .title{
	line-height: 2rem;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
[data-pwa] .cartPage .cartItem .title{
	font-size: 1.2rem;
	margin-bottom: 0rem;
}
.cartPage .cartItem .title a{
	display: inline-block;
	font-weight: 400;
}
.cartPage .cartItem img{
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	display: block;
	border-radius: 0.5rem;
}
[data-pwa] .cartPage .cartItem img{
	width: 8rem;
	height: 8rem;
}
.cartPage .cartItem .availability{
	margin:1rem 0;
}
.cartPage .cartItem .availability[data-green]{
	color: #007600;
}
.cartPage .cartItem .availability[data-red]{
	color: #B12704;
}
.cartPage .cartItem .itemOperation{
	position: relative;
	overflow: hidden;
	width: 200px;
	margin: 1rem 0 0;
}
.cartPage .cartItem .productCount{
	width: 14rem;
	max-width: 20rem;
	display: inline-block;
	vertical-align: middle;
}
.cartPage .cartItem .productCount .input{
}
.cartPage .cartItem .productCount .input input{
	text-align: center;
}
.cartPage .cartItem .productCount .input .addon{
	font-size: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	width: 34px;
}
.cartPage .cartItem .productDel{
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	width: 4rem;
	line-height: 3.6rem;
	text-align: center;
	transition: 0.1s;
	color: #777;
}
.cartPage .cartItem .productDel:hover{
	color: #e02020;
}
.cartPage .cartItem .productDel:active{
	color: #b71c1c;
}
.cartPage .cartItem .productDel i{
	display: block;
}
.cartPage .cartItem .productDel i::before{
	display: block;
}
.cartPage .cartEmpty{

}
.cartPage .cartEmpty img{
	width: 300px;
	display: block;
	border-radius: 1rem;
	margin: 2rem auto 5rem;
}
[data-pwa] .cartPage .cartEmpty img{
	width: 15rem;
	margin: 0 auto 2rem;
}
.cartPage .cartEmpty h2{
	font-weight: 900;
	text-align: center;
}
[data-pwa] .cartPage .cartEmpty h2{
	font-size: 2rem;
	margin-bottom: 1rem;
}
.cartPage .cartEmpty p{
	text-align: center;
	font-size: 1.6rem;
}
[data-pwa] .cartPage .cartEmpty p{
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
[data-pwa] .cartPage .cartEmpty .msg{
	font-size: 1.2rem;
	margin:0;
}

.orderSummary h3{
	font-weight: 900;
}
.orderSummary dl{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0;
  line-height: 2rem;
}
.orderSummary dl.total{
  border-top: 1px solid #f2f2f2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1.5rem;
}
.orderSummary dl.total dt{
	-ms-flex: 1 1;
	/* flex: 1 1; */
	font-size: 14px;
	font-weight: 700;
}
.orderSummary dl.total dd{
	margin: 0;
	padding: 0.5rem;
	font-size: 2rem;
	font-weight: 700;
}
[data-pwa] .orderSummary dl.total{
	margin-bottom: 0;
}
[data-pwa] .orderSummary .btn.danger{
	display: none;
}
