.postBlock{

}

.postBlock header video{
	display: block;
	width: 100%;
	max-height: 80vh;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
}
.postBlock header audio{
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
}
.postBlock header h2{
	font-size: 4rem;
	line-height: 1.25;
	font-weight: 900;
	color: #272727;
	margin-bottom: 0;
}
[dir="rtl"] .postBlock header h2{
	font-size: 3rem;
	line-height: 2;
}
[data-pwa] .postBlock header h2{
	font-size: 2.5rem;
}
[data-pwa][dir="rtl"] .postBlock header h2{
	font-size: 1.8rem;
}

.postBlock .postTitleBox{
	margin-bottom: 2rem;
}
.postBlock header img{
	border-radius: 0.5rem;
	overflow: hidden;
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}
.postBlock header .postTitleBox img{
	margin-bottom: 0;
	min-width: 12rem;
	height: 12rem;
}
[data-pwa] .postBlock .postTitleBox img{
	min-width: 8rem;
	height: 8rem;
}

// excerpt
.postBlock .excerpt{
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	background-color: #f7f7f7;
	color: #333;
	padding: 1rem;
	font-size: 1.6rem;
	margin: 0 0 1rem;
	line-height: 3rem;
	transition: 0.3s;
}
.postBlock .excerpt:hover{
	background-color: #eee;
}
[data-pwa] .postBlock .excerpt{
	font-size: 1.4rem;
}

.postBlock .postTitleBox .excerpt{
	background-color: transparent;
	padding: 0;
	margin: 0;
}







.postBlock article{
	margin: 2rem 0;
	line-height:2.5rem;
	font-size: 1.6rem;
	background-color: #fff;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	padding: 1rem;
	box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}
.postBlock article:hover{
	box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.1);
}
[dir="rtl"] .postBlock article{
	line-height:3rem;
	font-size: 1.6rem;
}


.postBlock .gallery{
	position: relative;
	margin-top: 2rem;
}

.postBlock .gallery a{
	display: block;
	line-height: 0;
	max-height: 40vh;
	overflow: hidden;
	position: relative;
	border-radius: 0.5rem;
}
[data-pwa] .postBlock .gallery a{
	max-height: 60vh;
}
.postBlock .gallery img{
	overflow: hidden;
	position: relative;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: middle;
	// vertical-align: bottom;
	transition: 0.3s;
	will-change: transform;
}
.postBlock .gallery img:hover{
	transform: scale(0.95);
}
.postBlock .gallery img:focus{
	transform: scale(0.90);
}
