.productPage .box{
	padding: 1.5rem;
	border-radius:.5rem;
}
.productPage .box+.box{
	margin-top: 2rem;
}
.productPage h1{
	font-size: 1.8rem;
	line-height: 3rem;
	margin-bottom:1rem;
}
[data-pwa] .productPage h1{
	font-size: 1.4rem;
	line-height:2.5rem;
	font-weight: 700;
	margin-top:1rem;
}
.productPage h2{
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom:1rem;
	color: #757575;
}
[data-pwa] .productPage h2{
	font-size: 1.2rem;
}
.productPage h3{
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 2rem;
	margin-bottom:1rem;
}
[data-pwa] .productPage .tbl1.v5 tbody tr{
	border:none;
	margin-bottom: 0.5rem;
}
.productPage .productReviewShort{
	line-height: 20px;
	margin: 1rem 0;
}
.productPage .productReviewShort > div{
	display: inline-block;
	margin: 0 1rem;
}
// style to show price with unit
.priceShow{
	position: relative;
	padding: 0.5rem 1rem;
	display: inline-block;
	line-height: 2rem;
}
.priceShow .price{
	display: inline-block;
}
.priceShow[data-first] .price{
	text-decoration: line-through;
	text-decoration-color: #ff5722;
	color: #999;
}

.priceShow[data-discount]{
  display: inline-block;
  padding: 0.5em 0.7em;
	font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 1.5rem;
  background-color: #e91e63;
  color: #fff;
  transition: background-color 0.3s;
	min-width: 3rem;
	height: 2rem;
}
.priceShow[data-final] .price{
	font-size: 3rem;
	font-weight: 700;
	line-height: 4rem;
	color: #e91e63;
}
.priceShow .unit{
	display: inline-block;
	color: #777;
}
.priceShow[data-cart]{
	display: block;
}
.priceShow[data-cart] .price{
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
	color: #000;
}


.productPage .productQty{
	width: 10rem;
	margin:0 0.5rem 0;
	padding: 0.2rem 0;
	display: inline-block;
	vertical-align: middle;
}
.productPage .btnBuy{
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 0 1rem;
	text-decoration:none;
	text-align:center;
	transition:.2s ease-out;
	border-radius:.7rem;
	white-space:nowrap;
	vertical-align: middle;
	user-select:none;
	border: 1px solid transparent;
	height:4rem;
	line-height:4rem;
	font-weight:700;
	background-color:#fc464a;
	color:#fff;
	overflow: hidden;
	font-size:1.6rem;
	max-width:100%;
	min-width: 14rem;
	margin: 0.5rem 0.5rem;
	text-overflow:ellipsis;
	box-shadow: 0 4px 2rem rgba(252, 69, 75, 0.5)
}
[dir='rtl'] .productPage .btnBuy{
	font-size:1.5rem;
	min-width: 15rem;
}
[data-pwa] .productPage .btnBuy{
	display: none;
}
.productPage .btnBuy:hover{
	background-color: #fa121a;
}
.productPage .btnBuy:focus{
	box-shadow: 0 0 8px rgba(252, 69, 75, 0.5);
	background-color: #d81b60;
}
.productPage .btnBuy:active{
	background-color: #c2185b;
}
// add to cart btn
.productPage .btnBuy[data-update]{
	background-color:#66bb6a;
	box-shadow: none;
}
.productPage .btnBuy[data-update]:hover{
	box-shadow: 0 2px 1rem #4CAF50;
}
.productPage .btnBuy[data-update]:focus{
	background-color: #4caf50;
}
.productPage .btnBuy[data-update]:active{
	background-color: #43a047;
}

.featureBullets{list-style:square inside none;line-height:1.5em;margin:1rem 0;max-width:400px;font-size: 1.2rem;}
[data-pwa] .featureBullets{max-width:100%;}
.featureBullets.ltr{margin-left:2rem;}
.featureBullets.rtl{margin-right:2rem;}
.featureBullets li{padding:0.5rem 0.5rem;transition: 0.3s}
.featureBullets li:hover{background-color: #f9f9f9;}

.productPage .globalMsg{
	margin-top: 1rem;
}
.productPage .featureImgBlock{
	display: inline-block;
	width: 300px;
	max-height: 300px;
	overflow: hidden;
	margin: 0 auto;
	max-width: 100%;
	float: right;
}
[data-pwa] .productPage .featureImgBlock{
	width: 100%;
	height: auto;
	float: none;
}
[dir='rtl'] .productPage .featureImgBlock{
	float: left;
}
.productPage .featureImgBlock a{
	display: block;
}
.productPage .featureImgBlock a img{
	border-radius:.7rem;
	display: block;
	margin: 0 auto;
}
.productPage .featureImgBlock a video{
	border-radius:.7rem;
	display: block;
	margin: 0 auto;
	max-height: 300px;
}
.productPage .thumbs{
	width: 55px;
	max-height: 300px;
	overflow: hidden;
	display: inline-block;
	float: left;
	margin: 0 0.5rem 0 0;
}
[dir='rtl'] .productPage .thumbs{
	float: right;
	margin: 0 0 0 0.5rem;
}
.productPage .thumbs .thumb{
	background-color: #f6f6f6;
	border:none;
	padding: 3px;
	border-radius: 0.5rem;
	margin: 0 auto 0.5rem;
	transition: 0.1s;
	display: block;
	cursor: pointer;
	overflow: hidden;
	width: 55px;
	height: 55px;
}
.productPage .thumbs .thumb[data-active]{
	box-shadow: inset 0 0 0 2px #ef0404;
}

.productPage .thumbs .thumb img{
	display: block;
	width: 100%;
	border-radius: 0.5rem;
}
[data-pwa] .productPage .thumbs{
	width: 100%;
	height: 50px;
	margin: 1rem 0 0.5rem;
}
[data-pwa] .productPage .thumbs .thumb{
	display: inline-block;
	margin:0;
	width:50px;
	height:50px;
}

.productPage .productDesc p{
	text-align: justify;

}
.productPage .productDesc p:last-child{
	margin-bottom: 0;
}

[data-pwa] .productInfo.box{
	font-size: 1.2rem;
}
[data-pwa] .productInfo .tbl1.v5{
	padding: 0 0.5rem;
}
.productInfo .tbl1{
	margin: 0;
	line-height: 1.7rem;
}
[dir='rtl'] .productInfo .tbl1{
	line-height: 2rem;
}
[data-pwa] .tbl1.responsive tr{
	padding: 0;
}
.productInfo .tbl1 .group th{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-radius: 1rem;
	background-color: #d1ecf1!important;
	color: #0c5460!important;
	font-weight: 700;
	line-height: 4rem;
}
.productInfo .tbl1 .group th:hover{
	opacity: 0.9;
}
.productInfo .tbl1 tr th{
	color: #757575;
	font-weight: normal;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 1px;
	max-width: 250px;
  white-space: nowrap;
}
[data-pwa] .productInfo .tbl1 tr th{
	color: #999;
	max-width: 100%;
}
.productInfo .tbl1 tr td{
	color: #333;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
[data-pwa] .productInfo .tbl1 tr td{
	color: #111;
}


