.productPage .box{
	padding: 1.5rem;
}
.productPage h1{
	font-size: 2rem;
	margin-bottom:1rem;
}
.productPage h2{
	font-size: 1.6rem;
	margin-bottom:1rem;
	color: #757575;
}
.productPage h3{
	font-size: 1.5rem;
	margin-bottom:1rem;
}
.productPage .productReviewShort{
	line-height: 20px;
	margin: 1rem 0;
}
.productPage .productReviewShort > div{
	display: inline-block;
	margin: 0 1rem;
}
// style to show price with unit
.priceLine{
	margin: 3rem 0;
}
.priceLine .priceShow{
	position: relative;
	padding: 0.5rem 1rem;
	display: inline-block
}
.priceLine .priceShow .price{
	display: inline-block;
}
.priceLine .priceShow[data-first] .price{
	text-decoration: line-through;
}
.priceLine .priceShow[data-discount] .price{
	color: #00796b;
}
.priceLine .priceShow[data-final] .price{
	font-size: 3rem;
	line-height: 4rem;
	color: #e91e63;
}
.priceLine .priceShow[data-cart] .price{
	font-size: 2rem;
	line-height: 3rem;
	color: #e91e63;
}
.priceLine .priceShow .unit{
	display: inline-block;
	color: #777;
}

.productPage .addToCart{
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 0 2rem;
	text-decoration:none;
	text-align:center;
	transition:.2s ease-out;
	border-radius:.7rem;
	white-space:nowrap;
	vertical-align: middle;
	user-select:none;
	border: 1px solid transparent;
	height:50px;
	line-height:50px;
	font-weight:700;
	background-color:#fc464a;
	color:#fff;
	overflow: hidden;
	font-size:1.8rem;
	max-width:100%;
	min-width: 15rem;
	margin: 0 2rem;
	text-overflow:ellipsis;
	box-shadow: 0 4px 2rem rgba(252, 69, 75, 0.5)
}
.productPage .addToCart:hover{
	background-color: #fa121a;
}
.productPage .addToCart:focus{
	box-shadow: 0 0 8px rgba(252, 69, 75, 0.5);
	background-color: #d81b60;
}
.productPage .addToCart:active{
	background-color: #c2185b;
}


.featureBullets{margin-top: 2rem;}
.featureBullets ul{list-style:square outside none;line-height:1.5em;margin:2rem 0;}
.featureBullets.ltr ul{margin-left:2rem;}
.featureBullets.rtl ul{margin-right:2rem;}
.featureBullets ul li{margin:0.5rem 0}

.productInfo{

}
.productInfo .tbl1 tr th{
	color: #757575;
	font-weight: normal;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.productInfo .tbl1 tr td{
	color: #333;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.productReview{
	line-height: 25px;
}
.productReview .ratingAvg{
	font-size: 10rem;
	line-height: 12rem;
	height: 12rem;
	width: 15rem;
	display: block;
	margin:0 2rem;
}
.productReview .rating > div{
	margin-bottom: 0.5rem;
}
.productReview progress{
	height: 25px;
}
.productReview .rating .sf-star{
	width: 5rem;
	display: inline-block;
}
.productReview .rating .sf-star:before{
	padding: 0 5px;
}
.productReview .ratingSummary{
	line-height: 20px;
	text-align: center;
	direction: ltr;
}

.productReview progress::-moz-progress-bar{
	background: #ffce00;
	background: linear-gradient(to bottom,#ffce00,#ffa700);
}
.productReview progress::-webkit-progress-value {
	background: #ffce00;
	background: linear-gradient(to bottom,#ffce00,#ffa700);
}
.productReview .percentVal{
	display: inline-block;
	width: 5rem;
}

.productReview .commnetList{
	margin-top: 3rem;
}
.productReview .commnetList .customerImg{
	width: 10rem;
	height: 10rem;
	border-radius: 1rem;
	display: block;
}
.productAddReview{

}

