
#jHeaderRafiei{
	position: relative;
	font-size: 1.4rem;
	padding-top: 2rem;
}
#jHeaderRafiei::before{
	content: '';
	display: block;
	background-color: #eda336;
	position: fixed;
	max-width: 80vw;
	height: 3rem;
	top: -2rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 100;
}
#jHeaderRafiei::after{
	content: '';
	display: block;
	height: 18rem;
	// background: url('/enterprise/rafiei/pattern/pattern3.png');
	background-color: #053657;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

#jHeaderRafiei .logo{
	width: 50rem;
	display: block;
	margin: 0 auto 1rem;
}
#jHeaderRafiei h1{
	display: none;
}
#jHeaderRafiei .logo img{
	display: block;
}
#jHeaderRafiei nav{
	display: block;
	margin: 0 auto;
	padding-bottom: 6rem;
	text-align: center;
}
#jHeaderRafiei nav li{
	display: inline-block;
}
#jHeaderRafiei nav a{
	display: block;
	color: #fff;
	line-height: 2rem;
	margin: 0 0.5rem;
	padding: 1rem 0.5rem;
	min-width: 5rem;
	transition: 0.3s;
}
#jHeaderRafiei nav a:hover{
	color: #ffc107;
}
#jHeaderRafiei nav a:focus{
	color: #eda336;
}
#jHeaderRafiei nav a:active{
	color: #ffb300;
}
#jHeaderRafiei svg.bottom{
	position: absolute;
	top: 18rem;
	right: 0;
	left: 0;
	z-index: -1;
}


// homepage header
[data-page='home'] #jHeaderRafiei nav{
	padding-bottom: 2rem;
}
[data-page='home'] #jHeaderRafiei svg.bottom{
	top: 60rem;
	top: 50vh;
}
[data-page='home'] #jHeaderRafiei::after{
	height: 60rem;
	height: 50vh;
}

