.jFooterRafiei{
	margin:0;
	position: relative;
	display: block;
	font-size: 1.4rem;
	transition: 0.3s;
	padding: 8rem 0 4rem;
	color: #786f90;
	margin-top: 10rem;
	background-color: #095e60;
}
.jFooterRafiei::after{
	content: '';
	display: block;
	background-color: #eda336;
	position: absolute;
	max-width: 80vw;
	height: 3rem;
	bottom: -2rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 100;
}
.jFooterRafiei svg{
	position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
}
.jFooterRafiei h3{
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1.15;
	margin-bottom: 1rem;
	color: #eae7f3;
}
.jFooterRafiei p{
	margin: 0;
	font-size: 1.6rem;
}

.jFooterRafiei hr{
  height: 0;
  border: 0;
  border: .1rem solid;
  margin: 3rem 0;
  color: HSLA(256, 13%, 50%, 0.25);
}

.jFooterRafiei .button{
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: .02em;
	text-decoration: none;
	border: .1rem solid transparent;
	border-radius: 0.3rem;
	padding: 1.5rem 3rem;
	margin: 0 auto;
	background-color: transparent;
	display: inline-block;
	color: #ef4a25;
	background-color: #fff;
	border-color: #fff;
}
.jFooterRafiei .certifications{

}
.jFooterRafiei .cert{
	background-color: #fff;
	border-radius: 0.5rem;
	width: 12rem;
	height: 12rem;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	margin: 0.5rem;
	padding: 0.5rem;
}
.jFooterRafiei .cert img{
	display: block;
	margin: 0 auto;
}
.jFooterRafiei h4{
	color: #eae7f3;
	margin: 4rem 0 2rem;
	font-weight: 700;
	line-height: 1.2;
}
.jFooterRafiei ul{
	list-style: none;
}
.jFooterRafiei ul li{
	margin-bottom: .5rem;
}
.jFooterRafiei ul li a{
	padding: 0 0.5rem;
	line-height: 3rem;
}
.jFooterRafiei a{
	color: #eae7f3;
	text-decoration: none;
	display: inline-block;
}
.jFooterRafiei ul li a:hover{
	color: #cec3ea;
}
.jFooterRafiei ul li a:focus{
	box-shadow: 0 0 0 0.4rem HSLA(195, 84%, 39%, 0.5);
}
.jFooterRafiei ul li a:active{
	color: #cec3ea;
}

.jFooterRafiei .bottom{
	font-size: 1.6rem;
	color: #968caa;
	margin:0;
}


