.items{
	background-color: #fff;
	border-radius:2px;
	font-size:14px;
	overflow: hidden;
	margin-bottom:10px;
	box-shadow: #ddd 0 0 5px;
	user-select: none;
}
.zeroSide .items{
	border-radius:0;
}
.items ul{
	list-style:none;
	margin:0;
}
.items li{
	min-height: 50px;
	height: 50px;
	line-height: 40px;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.items li.multiLine{
	height: auto!important;
}
/* line between items */
.items li + li::before{
	content:"";
	position:absolute;
	height:1px;
	top:0;
	right:0;
	left:40px;
	background-color:#eee;
}
[dir="rtl"] .items li + li::before{
	right:40px;
	left:0;
}
body .ltr .items li + li::before{
	right:0;
	left:40px;
}
.items li .item{
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-moz-box-align:center;
	align-items:center;

	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;

	padding: 5px;
	color: #333!important;
	transition:0.2s ease-in-out;
}
.items li a{
	color: #333!important;
	transition:0.2s ease-in-out;
}
.items li > a{
	padding: 5px;
}
.items li img{
	overflow:hidden;
	max-width: 40px;
	max-height: 40px;
	border-radius: 5px;
}

.items li svg{
	overflow:hidden;
	max-width: 40px;
	max-height: 40px;
	padding: 7px;
	border-radius: 5px;
}
.items li img[src=""]{
	opacity: 0.1;
	background-color: #333;
}
.items li img[data-size='16x9']{
	max-width: 71px;
}
.items li picture{
	overflow:hidden;
	max-width: 40px;
	max-height: 40px;
	border-radius: 5px;
}
.items li .item > i{
	height:40px;
	-webkit-box-flex:0;
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	-moz-box-flex:0;
	flex:0 0 auto;
	width:auto;
}
.items li .item > i::before{
	min-width:40px;
	max-width:40px;
	line-height: 40px;
	display: block;
	padding:0;
	text-align:center;
	font-family:siftal!important;
	vertical-align:middle;
	transition:0.2s ease-in-out;
	opacity: 0.8;
	font-size: 18px;
}
.items li .item > i.sf-mobile::before{
	font-size: 25px;
}
.item li:hover .item > i::before{
	opacity: 1;
}
.items li .item > i[data-count]{
	color: 	#444;
}
.items li .item > i[data-count=""]{
	color: 	#ddd;
}
.items li .item > i[data-count]:not([data-count=""])::after{
	content: attr(data-count);
	vertical-align: middle;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	min-width: 15px;
	height: 15px;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	background-color: #999;
	color: #fff;
	padding: 0;
	margin: 0;
	opacity: 1;
	transition:0.3s;
	font-style: normal;
}

.items li .key{
	height:40px;
	min-height:40px;
	padding:0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.items li .key.username{
	max-width: 20%;
}
.items li .mobile{
	direction: ltr;
	text-align: left;
	max-width: 150px;
}
[dir='rtl'] .items li .mobile{
	max-width: 130px;
}
.items li.multiLine .key{
	height: auto!important;
	white-space: initial;
}
[data-desktop] .items li.multiLine .key{
	min-height: initial!important;
	line-height: 20px!important;
}
.items li .item > i + .key{
	padding:0 5px;
}
.items li .key + .key{
	padding: 0 5px;
}
.items li .key.fit{
	flex-basis: 100px;
	flex-shrink: 0;
}
.items li .key.grow{
	flex-basis: 50%;
}
.items li [class^="spay-32-"]{
	min-height: 32px!important;
	height: 32px!important;
	border-radius: 5px;
}
.items li .value{
	color:#999;
	-webkit-box-flex:0;
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	-moz-box-flex:0;
	flex:0 0 auto;
	width:auto;
	padding:0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 40px;
	min-height: 40px;
}
.items li time.value{
	min-width: 130px;
	direction: ltr;
	text-align: left;
}
[dir=rtl] .items li time.value{
	min-width: 115px;
}
[data-pwa] .items li time.value{
	font-size: 11px;
	min-width: 90px;
}
[data-pwa][dir=rtl] .items li time.value{
	min-width: 90px;
}
.items li .value.datetime{
	min-width: 130px;
	direction: ltr;
	text-align: left;
}
[dir=rtl] .items li .value.datetime{
	min-width: 115px;
}
.items li .value.fileSize{
	min-width: 60px;
	direction: ltr;
	text-align: right;
}
.items li .value.humandate{
	min-width: 130px;
	text-align: left;
}
.items li .value.txtB{
	color:#000;
}
.items li .go{
	color:#ccc;
	-webkit-box-flex:0;
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	-moz-box-flex:0;
	flex:0 0 auto;
	width:auto;
}
.items li .go::after{
	content: "\e0c2";
	display: block;
	padding:0;
	min-width:40px;
	max-width:40px;
	text-align:center;
	font-family:siftal!important;
	vertical-align:middle;
	transition:0.2s ease-in-out;
	opacity: 0.7;
}
body .ltr .items li .go::after{
	content: "\e0c2";
}
body .rtl .items li .go::after{
	content: "\e0c1";
}
.items li .go.padLess::after{
	width:30px;
	padding:0 5px;
}
/* rtl */
[dir="rtl"] .items li .go::after{
	content: "\e0c1";
}
.items li:hover .go::after{
	opacity: 1;
}
/* extra icon */
.items li .go.detail::after{font-size:16px;content:"\e03a"!important;}
.items li .go.search::after{font-size:16px;content:"\e03f"!important;}
.items li .go.plus::after{font-size:16px;content:"\e03e"!important;}
.items li .go.check::after{font-size:16px;content:"\6b"!important;}
.items li .go.times::after{font-size:16px;content:"\e041"!important;}
.items li .go.premium::after{font-size:16px;content:"\e0cd"!important;}
.items li .go.invalid::after{font-size:16px;content:"\e040"!important;}
.items li .go.ban::after{font-size:16px;content:"\e070"!important;}
.items li .go.stop::after{font-size:16px;content:"\e24e"!important;}
.items li .go.external::after{font-size:16px;content:"\e074"!important;color:#777;}
.items li .go.surveillance::after{font-size:20px;content:"\e24a"!important;}
.items li .go.star::after{font-size:20px;content:"\5c"!important;}
.items li .ok::after{color: #4CC790;}
.items li .nok::after{color: #ff5722;}
.items li .gold::after{color: #ffd700;}

.items li .ok::before{color: #4CC790;}
.items li .nok::before{color: #ff5722;}
.items li .gold::before{color: #ffd700;}

/* reaction */
.items li .item:hover, .items li a:hover{
	background-color: #f6f6f6;
}
.items li .item:focus, .items li a:focus{
	background-color: #efefef;
}
.items li .item:focus .go.next::after, .items li a:focus .go.next::after{
	color:#000;
	padding:0;
}
.items li .item:active, .items li a:active{
	background-color: #e6e5eb;
}

/* long mode */

.items.long{
	font-size:12px;
}
.items.long li{
	min-height: 40px;
	height: 40px;
	line-height: 30px;
}
.items.long li svg{
	width: 30px;
	height: 30px;
	padding: 5px;
}
.items.long li img{
	max-width: 30px;
	max-height: 30px;
}
.items.long li .item > i{
	min-height:30px;
	height:30px;
	min-width:30px;
	width: 30px;
}
.items.long li .item > i::before{
	min-width:30px;
	max-width:30px;
	line-height: 30px;
}
.items.long li .go::after{
	min-width:30px;
	max-width:30px;
	padding: 0;
}
.items.long li .key{
	min-height:30px;
	height:30px;
}
.items.long li .value{
	min-height:30px;
	height:30px;
}


/* simple mode */
.items.simple{
	box-shadow: none;
}

/* big size! */
[data-pwa] .items.big{
	font-size:16px;
}


/* pwa mode */
[data-pwa] .items{
	box-shadow:none;
	border-radius:8px;
	font-size: 12px;
}
[data-pwa] .items li{
	line-height: 35px;
	height: 45px;
	min-height: 45px;
}
[data-pwa] .items li img{
	max-width: 35px;
	max-height: 35px;
}
[data-pwa] .items li img[data-size='16x9']{
	max-width: 62px;
}
[data-pwa] .items li picture{
	max-width: 35px;
	max-height: 35px;
}
[data-pwa] .items li .item i{
	height:35px;
	min-height:35px;
}
[data-pwa] .items li .item i::before{
	min-width:35px;
	max-width:35px;
	line-height: 35px;
}
[data-pwa] .items li .key{
	height:35px;
	min-height:35px;
}
[data-pwa] .items li .value{
	height:35px;
	min-height:35px;
}
[data-pwa] .items li .go::after{
	min-width:35px;
	max-width:35px;
	padding: 0;
}


.items.pwaMultiLine{
	font-size: 12px;
}
.items.pwaMultiLine li{
	line-height: 20px;
	min-height: 50px;
	height: 50px;
}
.items.pwaMultiLine li img {
  max-width: 40px;
  max-height: 40px;
}
.items.pwaMultiLine li .key{
	height: 40px;
	min-height: 40px;
}
.items.pwaMultiLine li .key div{
	height: 20px;
	min-height: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.items.pwaMultiLine li .key .line2{
	color: #999;
}


.items li .disabled{
	cursor: not-allowed;
}
.items li .disabled .go::after{
	content: "\e070"!important;
	color: #ff0000;
}