.pB5{padding-bottom: 5px;}
.pB10{padding-bottom: 5px;}

.pT5{padding-top: 5px;}
.pT10{padding-top: 10px;}

.pR5{padding-right: 5px;}
.pR10{padding-right: 10px;}

.pL5{padding-left: 5px;}
.pL10{padding-left: 10px;}

[dir="ltr"] .pRa5{padding-right: 5px;}
[dir="ltr"] .pRa10{padding-right: 10px;}

[dir="ltr"] .pLa5{padding-left: 5px;}
[dir="ltr"] .pLa10{padding-left: 10px;}

[dir="rtl"] .pRa5{padding-left: 5px;}
[dir="rtl"] .pRa10{padding-left: 10px;}

[dir="rtl"] .pLa5{padding-right: 5px;}
[dir="rtl"] .pLa10{padding-right: 10px;}


