.postBlock{

}

.postBlock video{
	display: block;
	width: 100%;
	max-height: 80vh;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin: 10px 0;
}
.postBlock header video{
}
.postBlock audio{
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 10px 0;
}
.postBlock header audio{
}
.postBlock header h2{
	font-size: 40px;
	line-height: 1.25;
	font-weight: 900;
	color: #272727;
	margin-bottom: 0;
	border-radius: 03px;
}
[dir="rtl"] .postBlock header h2{
	line-height: 2;
	font-size: 30px;
}
[data-pwa] .postBlock header h2{
	font-size: 25px;
	margin:10px 0;
}
[data-pwa][dir="rtl"] .postBlock header h2{
	font-size: 22px;
}

.postBlock .postTitleBox{
	margin-bottom: 20px;
}
.postBlock header img{
	border-radius: 5px;
	overflow: hidden;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.postBlock header .postTitleBox img{
	margin-bottom: 0;
	min-width: 120px;
	max-height: 250px;
}
[data-pwa] .postBlock .postTitleBox img{
	min-width: 80px;
	max-height: initial;
	margin-top: 10px;
}
.postBlock header .postTitleBox h2{
	padding: 0 10px;
}

.postBlock .excerpt{
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	background-color: #f7f7f7;
	color: #333;
	padding: 10px;
	font-size: 16px;
	margin: 0 0 10px!important;
	line-height: 30px;
	transition: 0.3s;
}
.postBlock .excerpt:hover{
	background-color: #eee;
}
[data-pwa] .postBlock .excerpt{
	font-size: 14px;
}
.postBlock .postTitleBox .excerpt{
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.postBlock abbr{
	text-decoration:none;
}


.postBlock .text{
	margin: 20px 0;
	line-height:25px;
	font-size: 16px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}

.postBlock .text:hover{
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
[dir="rtl"] .postBlock .text{
	line-height:30px;
}
.postBlock .text h2{
	font-size: 26px;
	font-weight: 900;
	margin: 10px 0 10px;
}
.postBlock .text h3{
	font-size: 24px;
	font-weight: 700;
	margin: 10px 0 10px;
}
.postBlock .text h4{
	font-size: 2.0px;
	font-weight: 700;
	margin: 10px 0 5px;
}
.postBlock .text h5{
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0 5px;
}
.postBlock .text h6{
	font-size: 14px;
	font-weight: 700;
	margin: 10px 0 5px;
}
.postBlock .text iframe{
	min-height: 300px;
	width: 100%;
	border: none;
}
[data-pwa] .postBlock .text{
	font-size: 14px;
}
[data-pwa] .postBlock .text h2{
	font-size: 20px;
}
[data-pwa] .postBlock .text h3{
	font-size: 18px;
}
[data-pwa] .postBlock .text h4{
	font-size: 16px;
}
[data-pwa] .postBlock .text h5{
	font-size: 14px;
}
[data-pwa] .postBlock .text h6{
	font-size: 12px;
}

.postBlock .text p{
	margin-bottom: 25px;
	color: #282828;
}
.postBlock .text p:last-child{
	margin-bottom: 0;
}
.postBlock .text pre{
	margin: 10px 0 30px;
}
.postBlock .gallery{
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
}

.postBlock blockquote{
	position: relative;
	background-color: #f9f9f9;
	border-left: 3px solid #ccc;
	border-right: 3px solid #ccc;
	padding: 50px 40px 40px;
	margin: 30px 0 20px;
	font-size: 14px;
	transition: 0.3s;
	font-style: normal!important;
	overflow: visible!important;
}
.postBlock blockquote:hover{
	background-color: #efefef;
}
.postBlock blockquote:before{
	content:"\e009";
	font-family: "siftal" !important;
  position: absolute;
  top:-30px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  color: #333;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
[data-pwa] .postBlock blockquote{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	font-size: 12px;
}

.postBlock figure{
	position: relative;
	margin: 10px auto;
	overflow: hidden;
	border-radius: 5px;
}
.postBlock figure img{
	display: block;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
}
.postBlock figcaption{
	position: absolute;
	bottom: 0;
	font-size: 14px;
	padding: 0 10px;
	background-color: rgba(255,255,255,0.7);
}
[data-pwa] .postBlock figcaption{
	font-size: 12px;
}

.postBlock ul{
	list-style: square outside none;
	margin: 0 20px 10px;
}
.postBlock ol{
	margin: 0 20px 10px;
}
.postBlock li{
	padding: 5px 10px;
}

.postBlock .gallery a{
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.postBlock .gallery a.file{
	background-color: #f7f7f7;
	color: #37474f;
	border-radius: 5px;
	overflow: hidden;
	padding: 20px 10px;
	font-size: 15px;
	text-align: center;
	transition: 0.3s;
}
.postBlock .gallery a.file:hover{
	background-color: #eee;
}
.postBlock .gallery a i{
	font-size: 40px;
	display: block;
	margin-bottom: 10px;
}
.postBlock .gallery a i::before{
	display: block;
}
.postBlock .gallery a [data-fancybox]{
	line-height: 0;
	max-height: 40vh;
}
[data-pwa] .postBlock .gallery a{
	max-height: 60vh;
}
.postBlock .gallery img{
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	margin-bottom: 10px;
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: middle;
	transition: 0.3s;
	will-change: transform;
}
.postBlock .gallery img:hover{
	transform: scale(0.95);
}
.postBlock .gallery img:focus{
	transform: scale(0.90);
}


.postBlock .infoBox{
	font-size: 14px;
	line-height: 35px;
	user-select: none;
}
[data-pwa] .postBlock .infoBox{
	font-size: 12px
}
.postBlock .share1 a{
	margin: 5px 5px;
	border-radius: 50%;
	filter: grayscale(100%);
	transition: 0.1s;
}
[data-pwa] .postBlock .share1 a{
	margin: 5px 2px;
}
.postBlock .share1 a:hover{
	filter: grayscale(0);
}

.postBlock .similarPost .body{
	font-size: 14px;
	line-height: 30px;
}

.postBlock .tagLine{
	user-select: none;
	margin-top: 30px;
	font-size: 14px;
}
[data-pwa] .postBlock .tagLine{
	font-size: 12px;
}
