body.ipProtection{
	height: 100%!important;
	background-color: #f2f2f2!important;
	user-select: none;
}
body.ipProtection::before{
	content: "";
	background-color: #c80a5a;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 30vh;
	top: 0;
	right: 0;
	left: 0;
}
body.ipProtection section{
	margin-top: 50px;
	font-size: 14px;
	border-radius: 10px;
	position: relative;
}
body.ipProtection section svg{
	width: 100px;
	height: auto;
	max-width: 30%;
	margin-bottom: 10px;
}
body.ipProtection form{
	overflow: hidden;

}
body.ipProtection .g-recaptcha {
	display: inline-block;
	max-width: 100%!important;
}

