.box{
  position: relative;
  background-color: #fff;
  box-shadow: #ddd 0 0 5px;
  font-size: 1.4rem;
  margin:0 auto 1rem;
  display: block;
  border-radius: 0.25rem;
}
.box header{
  padding: 0 1.5rem;
  min-height: 36px;
  font-weight: 900;
  color: #222;
  border: none;
  box-shadow: none;
  transition: 0.3s;
  background-color: #efefef;
}
.box header:hover{
  background-color: #eee;
}
.box:hover header{
  background-color: #e0e0e0;
}
.box header[data-kerkere-status="close"]{
  background-color: #ddd;
}
.box header h2{
  display: inline-block;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 900;
  margin: 0;
}
.box header h3{
  display: inline-block;
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 800;
  margin: 0;
}
.box header h4{
  display: inline-block;
  font-size: 1.4rem;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}
.box .body{
  padding: 3rem 3rem;
}
.box .body.minPad{
  padding: 1rem 1rem;
}
.box .body.zeroPad{
  padding: 0;
}
