[data-frame='iphone-x']{
	position: relative;
	overflow: hidden;
	width: 250px;
	height:500px;
	display:block;
	margin:0 auto;
	padding: 15px 17px 15px;
}
[data-frame='iphone-x']:after{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	background: url('https://cdn.talambar.ir/img/frame/iphone-x-1.png') no-repeat top center;
	background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index: 1;
	// width: 300px;
	// height:602px;
}