[data-pwa] [data-in="business"] #pageContent{
	padding-top:10px;
	padding-bottom:60px;
}

[data-pwa] #sidebar{display:none}
[data-pwa] [data-m2] #main{margin:0!important}
[data-pwa] #xaccess{display:none}
[data-pwa] .tbox .breadcrumb{display:none}
[data-pwa] .superAdmin{top:inherit;bottom:30px;left: 0;}

