
.pwaText{background-color: #fff;border-radius:8px;font-size:16px;line-height:1.6;padding:30px 20px;overflow: hidden;margin-top:10px;margin-bottom:10px;}
.pwaText p{line-height: 1.6;}
[dir="rtl"] .pwaText{font-size:16px;line-height: 2;}
[dir="rtl"] .pwaText p{line-height: 2;}
