body {
  background-color: #efefef!important;
}
[data-pwa] body {
  background-color: #efefef!important;
}
a {
  color: #181934;
  text-decoration: none;
  transition: all 100ms;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
#pageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #171421;
}
[data-pwa] #pageContent {
  align-items: start;
}
#pageContent .visitBox {
  margin: 1rem;
  background: #FFFFFF;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #efefef);
  background: linear-gradient(to bottom, #FFFFFF, #efefef);
  text-align: center;
  height: 25rem;
  width: 70rem;
  border-radius: 12.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(107,124,147,.15);
}
[data-pwa] #pageContent .visitBox{
  height: auto;
  width: 25rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#pageContent .info {
  max-width: 45rem;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0 1rem;
}
[data-pwa] #pageContent .info {
  margin: 1rem auto 0;
  font-size: 1.4rem;
}
#pageContent .info h1 {
  font-size: 2em;
  line-height: 2em;
  font-weight: 700;
  padding: 0 5%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
[data-pwa] #pageContent .info h1{
  font-size: 1.5em;
  white-space: initial;
}
#pageContent .info h2 {
  font-size: 1em;
  line-height: 2em;
  max-height: 6em;
  padding: 0 5%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: initial;
}
[data-pwa] #pageContent .info h2{
  -webkit-line-clamp: 5;
  max-height: initial;
}
#pageContent .avatarImg {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 25rem;
  border-radius: 12.5rem;
  overflow: hidden;
  text-align: center;
}
[data-pwa] #pageContent .avatarImg {
  box-shadow: 0 25px 80px -12px rgba(0, 0, 0, 0.07), 0 4px 25px 0px rgba(0, 0, 0, 0.07), 0 8px 1rem -5px rgba(0, 0, 0, 0.09);
}
#pageContent .social {
  margin: 1rem auto;
}
#pageContent .social a {
  text-decoration: none;
  display: inline-block;
  opacity: 0.75;
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
#pageContent .social a:hover {
  opacity: 0.95;
}
#pageContent .social img {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

#pageHeader{display: none!important;}
#pageFooter{display: none!important;}

