.puzzle a{
	display: block;
}

.puzzle img{
	display: block;
	transition: 0.3s;
	overflow: hidden;
}
.puzzle video{
	display: block;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	max-height: 60rem;
}
.puzzle audio{
	display: block;
	width: 100%;
}
// border radius
[data-radius='0'] img{ @include border-radius(0);}
[data-radius='0'] video{ @include border-radius(0);}

[data-radius='1x'] img{ @include border-radius(0.5rem);}
[data-radius='1x'] video{ @include border-radius(0.5rem);}

[data-radius='2x'] img{ @include border-radius(1rem);}
[data-radius='2x'] video{ @include border-radius(1rem);}

[data-radius='3x'] img{ @include border-radius(1.5rem);}
[data-radius='3x'] video{ @include border-radius(1.5rem);}

[data-radius='4x'] img{ @include border-radius(2rem);}
[data-radius='4x'] video{ @include border-radius(2rem);}

[data-radius='circle'] img{ @include border-radius(50%);}
[data-radius='circle'] video{ @include border-radius(50%);}


[data-effect='zoom'] img{
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.07);
	transition: 0.3s;
	will-change: transform;
}

[data-effect='zoom'] img:hover{
	box-shadow: 0 2rem 2.5rem -0.5rem rgba(0,0,0,0.1), 0 1rem 1rem -0.5rem rgba(0,0,0,0.04);
	transform:scale(0.95);
}

[data-effect='zoom'] a:focus img{
	transform:scale(1.05);
}

[data-effect='zoom'] a:active img{
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	transform:scale(1);
}

