[data-in="site"][data-page="bug"]{
  background-color:#000;
}
[data-in="site"][data-page="bug"] #jibresHeader{
  background-color:#000;
}
[data-in="site"][data-page="bug"] #jibresHeader nav a{
  color:#fff;
}
[data-in="site"][data-page="bug"] #jibresHeader .slave{
  color:#fff;
}
[data-in="site"][data-page="bug"] #jibresPageTitle{
  background-color:#000;
}
[data-in="site"][data-page="bug"] .jibresBanner::before{
  background:#000;
}
[data-in="site"][data-page="bug"] .jibresBanner .fit.zero.love{
  width: 500px;
}
[data-in="site"][data-page="bug"] #jibresSupportLine{
  display: none;
}
[data-in="site"][data-page="bug"] #jibresFooter{
  background:#000;
  color:#999;
}


