
#pageNotif{
	display:none!important;
}

body [data-response-hide]{
	display:none!important
}

.ltr{
	direction: ltr;
}
.rtl{
	direction: rtl;
}

/* for some bad guys, because they are use direct link! */
svg g[opacity="0.3"][style][filter]{
	display:none;
}
svg g[opacity="0.4"][style][filter]{
	display:none;
}

/* very usefull styles*/
.selectable{
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

img[src="#"] {
  visibility: hidden;
}

[dir="ltr"] .txtRa{
	text-align: right!important;
}
[dir="rtl"] .txtRa{
	text-align: left!important;
}

[dir="ltr"] .txtLa{
	text-align: left!important;
}
[dir="rtl"] .txtLa{
	text-align: right!important;
}

video[data-clickable]{
	cursor: pointer;
}
.videoFrame[data-play]::after{
	content: "";
	position: absolute;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	border-radius: 3px;
	transition: 0.2s;
	opacity: 1;
	pointer-events: none;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-play-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z'/></svg>");
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(1);
}
[data-magicbox] .videoFrame .plyr{
	width: 100%;
	height: 100%;
}
.videoFrame[data-play]:hover::after{
	filter: grayscale(0);
	opacity: 0.7;
}

