
#pageNotif{
	display:none!important;
}

body [data-response-hide]{
	display:none!important
}

.ltr{
	direction: ltr;
}
.rtl{
	direction: rtl;
}

/* for some bad guys, because they are use direct link! */
svg g[opacity="0.3"][style][filter]{
	display:none;
}
svg g[opacity="0.4"][style][filter]{
	display:none;
}

/* very usefull styles*/
.selectable{
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

img[src="#"] {
  visibility: hidden;
}

[dir="ltr"] .txtRa{
	text-align: right!important;
}
[dir="rtl"] .txtRa{
	text-align: left!important;
}

[dir="ltr"] .txtLa{
	text-align: left!important;
}
[dir="rtl"] .txtLa{
	text-align: right!important;
}

.videoFrame video{
	cursor: pointer;
}
.videoFrame[data-clickable][data-player="default"]::after{
	content: "";
	position: absolute;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	border-radius: 3px;
	transition: 0.2s;
	opacity: 0.7;
	pointer-events: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z'/></svg>");
}
.videoFrame[data-clickable][data-player="default"]:hover::after{
	opacity: 1;
}
[data-magicbox][data-playing="play"] .videoFrame[data-clickable][data-player="default"]::after{
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z'/></svg>");
	opacity: 0.05;
	opacity: 0;
}
body:hover [data-magicbox][data-playing="play"] .videoFrame[data-clickable][data-player="default"]::after{
	opacity: 0;
}
body [data-magicbox][data-playing="play"]:hover .videoFrame[data-clickable][data-player="default"]::after{
	opacity: 0.8;
}
[data-magicbox][data-playing="play"] [data-magic-caption]{
	display: none;
}
[data-magicbox][data-playing] [data-magic-caption]{
	top: 0;
	bottom: initial;
}

[data-magicbox] .videoFrame .plyr{
	width: 100%;
	height: 100%;
}
