@font-face {
    font-family: NikaWeb;
    src: url('../fonts/Nika/Nika-Regular.eot');
    src: url('../fonts/Nika/Nika-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nika/Nika-Regular.woff2') format('woff2'),
         url('../fonts/Nika/Nika-Regular.woff') format('woff'),
         url('../fonts/Nika/Nika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
