@media (min-width: 768px) and (max-width: 991px) {
@import '../grid/gridTablet';

  .cn{min-width:710px;max-width:940px;width:92%;}


  // custom style for another part of siftal
  [dir="ltr"] [data-panel] #main{margin-left:0}
  [dir="rtl"] [data-panel] #main{margin-right:0}
  // sidebar
  [dir="ltr"] [data-panel] #sidebar{left:-250px;}
  [dir="rtl"] [data-panel] #sidebar{right:-250px;}
  [data-panel] #pageHeader.cloner{width:100%;}
  [data-panel] .toggleClean{display:none}

  // padding and margin
  .mp0{padding:0}
  .mm0{padding:0}

  .page-title{padding:7em 0;}
  .pricingQuick .col2{border: none!important;}
  #landing .title .h2{font-size:3em;}

  [data-panel] #pageHeader{margin:0!important;}
  [data-panel] #pageContent{margin:0!important;}
}


