// header

#pageHeader{position: relative;}
// hide pwa header on desktop
[data-pwa] #pageHeader .desktop{display: none;}
// hide desktop header on pwa
[data-desktop] #pageHeader .pwa{display: none;}



// footer
#pageFooter{position: relative;}
// hide pwa footer on desktop
[data-pwa] #pageFooter .desktop{display: none;}
// hide desktop footer on pwa
[data-desktop] #pageFooter .pwa{display: none;}



#pageContent{position: relative;touch-action: pan-y;}
[data-pwa] #pageContent{position:fixed;top:50px;left:0;right: 0;bottom:50px;height: auto;min-height:auto;padding: 0;}