@font-face {
  font-family: "siftal";
  src:url("../fonts/siftal-v5/siftal.eot");
  src:url("../fonts/siftal-v5/siftal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/siftal-v5/siftal.woff") format("woff"),
    url("../fonts/siftal-v5/siftal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
