
body[data-siteBuilder]{
	@apply grid;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer main';
  grid-template-columns: 25% auto;
  grid-template-rows: 60px auto minmax(0, 60px);
  font-size: 16px!important;
  height: 100vh;
  height: 100%!important;
}
@media (min-width: 1200px) {
	body[data-siteBuilder]{
  	grid-template-columns: 320px auto;
	}
}

[data-pwa] body[data-siteBuilder]{
	display: initial;
	height: initial;
}
body[data-siteBuilder] > #sidebar{
	@apply bg-white;
	@apply shadow;
	@apply p-7;
	grid-area: sidebar;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	height: 100%;
}
body[data-siteBuilder] > #sidebar #siteBuilderSidebar{
	@apply flex-grow;
	overflow: auto;
}
body[data-siteBuilder] > #sidebar form + form{
	margin-top: 12px;
}
body[data-siteBuilder] > #pageHeader{
	@apply shadow;
	overflow: hidden;
	grid-area: header;
}
body[data-siteBuilder] > #pageHeader .desktop{
	overflow: hidden;
	height: 100%;
	line-height: 40px;
}
body[data-siteBuilder] > #pageHeader .desktop svg{
	display: inline-block;
	width:30px;
	height: 30px;
}
body[data-siteBuilder] .backBtn{
	line-height: 40px;
}

body[data-siteBuilder] > #pageContent{
	@apply overflow-hidden bg-blue-50;
	@apply pt-5 px-10 pb-10;
	grid-area: main;
	overflow: auto;
}
body[data-siteBuilder] > #pageFooter{
	@apply bg-white;
	@apply overflow-hidden;
	@apply shadow;
	grid-area: footer;
	/* border-top: 1px solid #eee; */
}
body[data-siteBuilder] > #pageFooter .desktop{
	@apply px-7;
	@apply flex flex-wrap content-center;
	height: 100%;
}
body[data-siteBuilder] > #pageFooter:empty{

}
body[data-siteBuilder] > .js{
	@apply hidden;
}
.browserFrame[data-size='desktop']{
	width:100%;
	max-width: 100%;
	min-height: 400px;
}
.browserFrame[data-size='mobile']{
	max-width:375px;
	min-height: 300px;
	height: 700px;
	max-height: 100%;
}
[data-pwa] .browserFrame{
	max-width: 100%;
	height: 500px;
}
.browserFrame[data-size='mobile'] .address{
	display: none;
}
[data-pwa] .browserFrame .address{
	display: none;
}
.browserFrame .toolbar{
	height: 45px;
}
.browserFrame .resizePreview [data-mode]{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 24px;
}
.browserFrame .resizePreview [data-mode="mobile"]{
	font-size: 29px;
}
[data-pwa] .browserFrame .resizePreview{
	display: none!important;
}

/* radio design */
.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
  --tw-bg-opacity: 100;
}
.filter-switch-item input:not(:checked) + label {
  --tw-bg-opacity: 0;
  box-shadow: none;
}
.filter-switch-item input:focus + label{
	@apply bg-blue-200;
}
.filter-switch-item label:hover{
  --tw-bg-opacity: 0.6!important;
}
.filter-switch-item label svg{
	max-height: 25px;
}

