
body[data-siteBuilder]{
	@apply h-screen grid;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar footer';
  grid-template-columns: 25% auto;
  grid-template-rows: 60px auto minmax(0, 30px);
  font-size: 16px!important;

}
body[data-siteBuilder] > #sidebar{
	@apply bg-white;
	@apply shadow p-7;
	grid-area: sidebar;
}
body[data-siteBuilder] > #pageHeader{
	@apply shadow;
	overflow: hidden;
	grid-area: header;
}
body[data-siteBuilder] > #pageHeader .desktop{
	overflow: hidden;
	height: 100%;
	line-height: 40px;
}
body[data-siteBuilder] .backBtn{
	line-height: 40px;
}

body[data-siteBuilder] > #pageContent{
	@apply overflow-hidden bg-blue-50;
	@apply pt-5 px-10 pb-10;
	 grid-area: main;
}
body[data-siteBuilder] > #pageFooter{
	@apply overflow-hidden bg-gray-50;
	grid-area: footer;
}
body[data-siteBuilder] > .js{
	@apply hidden;
}
.browserFrame[data-size='desktop']{
	width:100%;
	max-width: 100%;;
}
.browserFrame[data-size='mobile']{
	max-width:375px;
}
.browserFrame[data-size='mobile'] .address{
	display: none;
}
.browserFrame .toolbar{
	height: 45px;
}
.browserFrame .resizePreview [data-mode]{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 24px;
}
.browserFrame .resizePreview [data-mode="mobile"]{
	font-size: 29px;
}



