
.printEmptyBox{
  border: 1px solid #777;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: 3px;
  color: red;
  width: 180px;
}
.printArea .invoice[data-theme="1"] .logo img{
  max-height: 60px;
  display: block;
  margin: 5px 10px;
}
.printArea .invoice[data-theme="1"] h1{
  font-size: 30px;
  line-height: 65px;
  margin: 0;
  font-weight: 900;
  color: #0d47a1;
}
.printArea .invoice[data-theme="1"] .oneSide{
  font-size: 11px;
  line-height: 20px;
  border: 1px solid #777;
  border-radius: 2px;
  background-color: #f1f1f1;
  margin-bottom: 5px;
}
.printArea .invoice[data-theme="1"] .oneSide .title{
  font-weight: 900;
}
.printArea .invoice[data-theme="1"] .oneSide h2{
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
  line-height: 25px;
  height: 100%;
  background-color: #ddd;
}
.printArea .invoice[data-theme="1"] .oneSide span{
  display: inline-block;
}
.printArea .invoice[data-theme="1"] .oneSide code{
  float: right;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: 1px;
  direction: ltr;
  text-align: left;
}
[dir="rtl"] .printArea .invoice[data-theme="1"] .oneSide code{
  float: left;
}
.printArea .invoice[data-theme="1"] .oneSide b{

}

.printArea .invoice[data-theme="1"] table{
  margin-top: 15px;
}
.printArea .invoice[data-theme="1"] table .productTitle{
  width: 35%;
}
.printArea .invoice[data-theme="1"] table .valPrice{
  direction: ltr;
  text-align: right;
  font-size: 12px;
}
.printArea .invoice[data-theme="1"] table .lastCol{
  width: 15%;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}


