.jProduct1{
	overflow: hidden;
	border-radius: 0.5rem;
	margin:0 auto 1rem;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #fff;
	font-size: 1.4rem;
	border: 1px solid #e2e2e2;
	border-radius: 0.5rem;
	transition: 0.3s;
	text-align: center;
}
.jProduct1:hover{
	border-color: #777;
}
.jProduct1:focus{
	border-color: #98b0f0;
}
.jProduct1 img{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 0.5rem 0.5rem 0 0;
	max-height: 300px;
	width: 100%;
	padding: 1rem;
}
.jProduct1 footer{
	padding: 2rem 0;
}
.jProduct1 .title{
	height: 4rem;
	line-height: 2rem;
	padding: 0 5%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #444;
}
.jProduct1 .price{
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 5%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.2em;
	font-weight: 700;
	color: #000;
}
.jProduct1 .price .unit{
	font-size: 1em;
	font-weight: 400;
}
