.cartPage h1{
	font-size: 20px;
	margin-bottom:10px;
}
[data-pwa] .cartPage h1{
	display: none;
}
.cartPage .box{
	padding: 15px;
}
.cartPage .cartItem{
}
.cartPage .cartItem + .cartItem{
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top: 10px;
}
.cartPage .cartItem .title{
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}
[data-pwa] .cartPage .cartItem .title{
	font-size: 12px;
	margin-bottom: 0px;
}
.cartPage .cartItem .title a{
	display: inline-block;
	font-weight: 400;
}
.cartPage .cartItem img{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: block;
	border-radius: 5px;
}
[data-pwa] .cartPage .cartItem img{
	width: 80px;
	height: 80px;
}
.cartPage .cartItem .availability{
	margin:10px 0;
}
.cartPage .cartItem .availability[data-green]{
	color: #007600;
}
.cartPage .cartItem .availability[data-red]{
	color: #B12704;
}
.cartPage .cartItem .itemOperation{
	position: relative;
	overflow: hidden;
	width: 200px;
	margin: 10px 0 0;
}
.cartPage .cartItem .productCount{
	width: 140px;
	max-width: 200px;
	display: inline-block;
	vertical-align: middle;
}
.cartPage .cartItem .productCount .input{
}
.cartPage .cartItem .productCount .input input{
	text-align: center;
}
.cartPage .cartItem .productCount .input .addon{
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;
	width: 34px;
}
.cartPage .cartItem .productDel{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	width: 40px;
	line-height: 36px;
	text-align: center;
	transition: 0.1s;
	color: #777;
}
.cartPage .cartItem .productDel:hover{
	color: #e02020;
}
.cartPage .cartItem .productDel:active{
	color: #b71c1c;
}
.cartPage .cartItem .productDel i{
	display: block;
}
.cartPage .cartItem .productDel i::before{
	display: block;
}
.cartPage .cartEmpty{

}
.cartPage .cartEmpty img{
	width: 300px;
	display: block;
	border-radius: 10px;
	margin: 20px auto 50px;
}
[data-pwa] .cartPage .cartEmpty img{
	width: 150px;
	margin: 0 auto 20px;
}
.cartPage .cartEmpty h2{
	font-weight: 900;
	text-align: center;
}
[data-pwa] .cartPage .cartEmpty h2{
	font-size: 20px;
	margin-bottom: 10px;
}
.cartPage .cartEmpty p{
	text-align: center;
	font-size: 16px;
}
[data-pwa] .cartPage .cartEmpty p{
	font-size: 14px;
	margin-bottom: 10px;
}
[data-pwa] .cartPage .cartEmpty .msg{
	font-size: 12px;
	margin:0;
}

.orderSummary h3{
	font-weight: 900;
}
.orderSummary dl{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  line-height: 20px;
}
.orderSummary dl.total{
  border-top: 1px solid #f2f2f2;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 15px;
}
.orderSummary dl.total dt{
	-ms-flex: 1 1;
	font-size: 14px;
	font-weight: 700;
}
.orderSummary dl.total dd{
	margin: 0;
	padding: 5px;
	font-size: 20px;
	font-weight: 700;
}
[data-pwa] .orderSummary dl.total{
	margin-bottom: 0;
}
[data-pwa] .orderSummary .btn.danger{
	display: none;
}
