.mB5{margin-bottom: 5px;}
.mB10{margin-bottom: 5px;}

.mT5{margin-top: 5px;}
.mT10{margin-top: 10px;}

.mR5{margin-right: 5px;}
.mR10{margin-right: 10px;}

.mL5{margin-left: 5px;}
.mL10{margin-left: 10px;}

[dir="ltr"] .mRa5{margin-right: 5px;}
[dir="ltr"] .mRa10{margin-right: 10px;}

[dir="ltr"] .mLa5{margin-left: 5px;}
[dir="ltr"] .mLa10{margin-left: 10px;}

[dir="rtl"] .mRa5{margin-left: 5px;}
[dir="rtl"] .mRa10{margin-left: 10px;}

[dir="rtl"] .mLa5{margin-right: 5px;}
[dir="rtl"] .mLa10{margin-right: 10px;}


