
.jHeader1{
	text-align: center;
	font-size: 1.6rem;
	user-select: none;
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
	padding: 7rem 0 0;
	overflow: hidden;
}
.jHeader1 h1{
	margin: 0;
	line-height: 2;
}
.jHeader1 a{
	transition: 0.3s;
}
[dir="rtl"] .jHeader1 h1 a{
	font-weight: 900;
}
.jHeader1 h2{
	font-size: 1em;
	margin-bottom: 4rem;
}

/*nav*/
.jHeader1 nav{
	border-top: 1px solid #ecf0f1;
	border-bottom: 1px solid #ecf0f1;
	text-align: center;
	user-select: none;
	line-height: 2;
	max-width: 600px;
	width: 90%;
	margin: 0 auto 50px;
	overflow: hidden;
	opacity: 0.8;
	transition: 0.3s;
}
.jHeader1 nav:hover{
	opacity: 1;
}
.jHeader1 nav li{
	display: inline-block;
}
.jHeader1 nav a{
	padding: 0 0.5em;
	display: block;
	transition: 0.3s;
}
.jHeader1 nav a:hover{
	background-color: #ecf0f1;
}
.jHeader1 nav a:focus{
	background-color: #eee;
}
.jHeader1 main{
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
}
