@font-face {
    font-family: BehdadWeb;
    src: url('../fonts/Behdad/Behdad-Regular.eot');
    src: url('../fonts/Behdad/Behdad-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Behdad/Behdad-Regular.woff2') format('woff2'),
         url('../fonts/Behdad/Behdad-Regular.woff') format('woff'),
         url('../fonts/Behdad/Behdad-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
