@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Regular.eot');
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir/29.1.0/woff2/Vazir-Regular.woff2') format('woff2'),
         url('../fonts/Vazir/29.1.0/woff/Vazir-Regular.woff') format('woff'),
         url('../fonts/Vazir/29.1.0/ttf/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Bold.eot');
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir/29.1.0/woff2/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/Vazir/29.1.0/woff/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir/29.1.0/ttf/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Black.eot');
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir/29.1.0/woff2/Vazir-Black.woff2') format('woff2'),
         url('../fonts/Vazir/29.1.0/woff/Vazir-Black.woff') format('woff'),
         url('../fonts/Vazir/29.1.0/ttf/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Medium.eot');
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir/29.1.0/woff2/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/Vazir/29.1.0/woff/Vazir-Medium.woff') format('woff'),
         url('../fonts/Vazir/29.1.0/ttf/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Light.eot');
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir/29.1.0/woff2/Vazir-Light.woff2') format('woff2'),
         url('../fonts/Vazir/29.1.0/woff/Vazir-Light.woff') format('woff'),
         url('../fonts/Vazir/29.1.0/ttf/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Thin.eot');
    src: url('../fonts/Vazir/29.1.0/eot/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir/29.1.0/woff2/Vazir-Thin.woff2') format('woff2'),
         url('../fonts/Vazir/29.1.0/woff/Vazir-Thin.woff') format('woff'),
         url('../fonts/Vazir/29.1.0/ttf/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
