.avand {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.avand-fluid, .avand-sm, .avand-md, .avand-lg, .avand-xl, .avand-xxl {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .avand {
    max-width: 440px;
  }
  .avand-sm {
    max-width: 440px;
  }
}

@media (min-width: 768px) {
  .avand {
    max-width: 720px;
  }
  .avand-md {
    max-width: 720px;
  }
}

@media (min-width: 980px) {
  .avand {
    max-width: 950px;
  }
  .avand-lg {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .avand {
    max-width: 1140px;
  }
  .avand-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1800px) {
  .avand{
    max-width: 1400px;
  }
  .avand-xxl {
    max-width: 1400px;
  }
}
