.container {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container {
    max-width: 440px;
  }
  .container-sm {
    max-width: 440px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 950px;
  }
  .container-lg {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1800px) {
  .container{
    max-width: 1250px;
  }
  .container-xxl {
    max-width: 1250px;
  }
}
