.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem
}
.justify-content-between {
    justify-content: space-between!important
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.c, .no-gutters>[class*=c-] {
    padding-right: 0;
    padding-left: 0
}
.c, [class*=c-]{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem
}


.c {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.c-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%
}




















