

.jalert>:not([hidden])~:not([hidden]) {
  margin-top:calc(0.5rem*(1 - 0));
  margin-bottom:calc(0.5rem*0)
}

[class^="jalert-"] {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  --tw-bg-opacity:1;
  background-color:hsla(var(--b2)/var(--tw-bg-opacity,1));
  padding:1rem;
  border-radius:var(--rounded-box,1rem)
}

@media (min-width:768px) {
  .jalert>:not([hidden])~:not([hidden]) {
    margin-top:0;
    margin-bottom:0;
  }

  [class^="jalert-"] {
    flex-direction:row
  }
}

.jalert>* {
  display:flex
}
.jalert-sm {
  padding:.5rem
}

.jalert-info {
  --tw-bg-opacity:1;
  --tw-bg-opacity:.1;
  background-color:hsla(var(--in)/var(--tw-bg-opacity,1));
  --tw-text-opacity:1;
  color:hsla(var(--in)/var(--tw-text-opacity,1))
}

.jalert-success {
  --tw-bg-opacity:1;
  --tw-bg-opacity:.1;
  background-color:hsla(var(--su)/var(--tw-bg-opacity,1));
  --tw-text-opacity:1;
  color:hsla(var(--su)/var(--tw-text-opacity,1))
}

.jalert-warning {
  --tw-bg-opacity:1;
  --tw-bg-opacity:.1;
  background-color:hsla(var(--wa)/var(--tw-bg-opacity,1));
  --tw-text-opacity:1;
  color:hsla(var(--wa)/var(--tw-text-opacity,1))
}

.jalert-error {
  --tw-bg-opacity:1;
  --tw-bg-opacity:.1;
  background-color:hsla(var(--er)/var(--tw-bg-opacity,1));
  --tw-text-opacity:1;
  color:hsla(var(--er)/var(--tw-text-opacity,1))
}
