


[class^="jalert-"] {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  background-color:hsla(var(--b2));
  padding:1rem;
  border-radius:var(--rounded-box,1rem)
}

@media (min-width:768px) {
  .jalert>:not([hidden])~:not([hidden]) {
    margin-top:0;
    margin-bottom:0;
  }

  [class^="jalert-"] {
    flex-direction:row
  }
}

.jalert>* {
  display:flex
}
.jalert>:not([hidden])~:not([hidden]) {
  margin-top:0.5rem;
  margin-bottom:0
}
.jalert-sm {
  padding:.5rem
}

.jalert-info {
  background-color:hsla(var(--in)/0.1);
  color:hsla(var(--in))
}

.jalert-success {
  background-color:hsla(var(--su)/0.1);
  color:hsla(var(--su))
}

.jalert-warning {
  background-color:hsla(var(--wa)/0.1);
  color:hsla(var(--wa))
}

.jalert-error {
  background-color:hsla(var(--er)/0.1);
  color:hsla(var(--er))
}
