.stats {
  display:inline-grid;
  overflow:hidden;
  overflow-x:auto;
  grid-auto-flow:column;
  border-radius:var(--rounded-box,1rem)
}

.stat {
  display:inline-grid;
  width:100%;
  -moz-column-gap:1.5rem;
  column-gap:1.5rem;
  grid-template-columns:1fr auto;
  --tw-bg-opacity:1;
  background-color:hsla(var(--b1)/var(--tw-bg-opacity,1));
  padding:1rem 1.5rem;
  --tw-text-opacity:1;
  color:hsla(var(--bc)/var(--tw-text-opacity,1))
}

.stat-figure {
  place-self:center;
  justify-self:end;
  grid-column-start:2;
  grid-row:span 3/span 3;
  grid-row-start:1
}

.stat-title {
  white-space:nowrap;
  grid-column-start:1;
  opacity:.5
}

.stat-value {
  white-space:nowrap;
  grid-column-start:1;
  font-weight:800;
  font-size:2.25rem;
  line-height:2.5rem
}

.stat-desc {
  white-space:nowrap;
  grid-column-start:1;
  font-size:.875rem;
  line-height:1.25rem;
  opacity:.5
}

.stat-actions {
  white-space:nowrap;
  grid-column-start:1;
  margin-top:1rem
}

.stats.grid-flow-row {
  grid-auto-rows:minmax(0,1fr)
}
.stat+.stat {
  --tw-border-opacity:1;
  --tw-border-opacity:.1;
  border-color:hsla(var(--bc)/var(--tw-border-opacity,1));
  border-left-width:1px
}

.stats.grid-flow-row .stat+.stat {
  border-left-width:0;
  border-top-width:1px
}