body[data-m2] #pageHeader{
	@apply shadow;
	@apply select-none;
	z-index: 10;
	overflow: hidden;
}
body[data-m2] #pageHeader .desktop{
	overflow: hidden;
	height: 100%;
	line-height: 40px;
}
body[data-m2] #pageHeader .desktop .btn-primary{
	min-width: 100px;
}
[data-desktop] body[data-m2] #pageHeader{
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	background-color:#fff;
	height: 58px;
	max-height: 58px;
	width: 100%;
}

[data-m2] #pageHeader .desktop [data-count]{
	position: relative;
	background-color: rgba(255,0,0,0.1);
}
[data-m2] #pageHeader .desktop [data-count]:hover{
	position: relative;
	background-color: rgba(255,0,0,0.2);
}
[data-m2] #pageHeader .desktop [data-count]::after{
	content: attr(data-count);
	vertical-align: middle;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	min-width: 18px;
	height: 18px;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	border-radius: 50%;
	background-color: #c80a5a;
	color: #fff;
	padding: 1px;
	margin: 0;
	opacity: 0.9;
	transition:0.3s;
}

[data-m2] #pageHeader .desktop [data-count].pulse::after{
	animation:pulseNotificationHeart 0.7s infinite ease-in-out;
}
@keyframes pulseNotificationHeart {
 0%{ opacity:.7 } 80%{opacity:.9; transform: scale(1.1); } 100%{opacity:.7; transform: scale(1);}
}
[data-m2] #pageHeader .desktop [data-count="۰"]::after{
	opacity: 0;
	visibility: hidden;
}
[data-m2] #pageHeader .desktop [data-count="0"]::after{
	opacity: 0;
	visibility: hidden;
}
[data-m2] #pageHeader .select22-container{
	width: 100%!important;
}
[data-m2] #pageHeader .desktop .avatar{
	padding: 4px
}
