#ermileBadge{padding:10px 1.5em;background-color:#24292e;color:#eee;transition:0.3s;height:70px;user-select:none}
#ermileBadge:hover{background-color:#044f6f;}
#ermileBadge:focus{background-color:#0d3f54;}
#ermileBadge:active{background-color:#0b3446;}
#ermileBadge img{border-radius:50%;background-color:#eee;width:50px;height:50px;display:block;vertical-align:middle;overflow:hidden;transition:0.3s;padding:2px;}
#ermileBadge img:hover{background-color:#fff}
#ermileBadge h2{color:#eee;font-size:2em;margin:0;line-height:30px;transition:0.3s;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#ermileBadge h2:hover{color:#fff;}
#ermileBadge h3{color:#eee;font-size:1em;margin:0;line-height:20px;transition:0.3s;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#ermileBadge h3:hover{color:#fff;}
[data-panel] #sidebar #ermileBadge h2{max-width:170px;}
[data-panel] #sidebar #ermileBadge h3{max-width:170px;}

