//----------------------------------- clean mode style
// main
[dir="ltr"] [data-panel='clean'] #main {margin-left:0;}
[dir="rtl"] [data-panel='clean'] #main {margin-right:0;}
// sidebar
[data-panel='clean'] #sidebar {display:block;position:fixed;top:0;bottom:0;left:-250px!important;}
[dir="rtl"] [data-panel='clean'] #sidebar{right:-250px!important;left:initial;}
[data-panel='clean'] #sidebar figure{margin:2em 0;}
[data-panel='clean'] #pageHeader .desktop .sidenavHandler{-webkit-box-flex: 0;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-moz-box-flex: 0;flex: 0 0 auto;max-width: initial;display: flex !important;}
[data-panel='clean'] #pageHeader .desktop{margin:0!important;}
[data-panel='clean'] #pageContent{margin:0!important;}

//----------------------------------- slideout mode
// sidebar
[dir="ltr"] [data-panel][data-sidebar] #sidebar{left:0!important}
[dir="rtl"] [data-panel][data-sidebar] #sidebar{right:0!important}
[data-panel][data-sidebar] #main:before{bottom:0;height:100%;}
[data-panel][data-sidebar] #main:after{top:0;}



