// Theme light
[data-panel][data-theme="light"]{background: #fff;}
[data-panel][data-theme="light"] #pageHeader{box-shadow: none;}
[data-panel][data-theme="light"] #pageHeader.cloner{display: none;}
[data-panel][data-theme="light"] .tbox{background-color: #fff;}
[data-panel][data-theme="light"] .cbox{border:1px solid #eee;background-color: #fafafa;}
[data-panel][data-theme="light"] .dcard{background-color: rgba(240, 240, 240, 0.8)}

[data-panel][data-theme="light"] #sidebar{background-color:#fff;}
[data-panel][data-theme="light"] #sidebar figure{color: #3c4040}
[data-panel][data-theme="light"] #sidebar ul > li > a{color: #3c4040;margin-bottom: 5px;border: none!important;}
[dir="ltr"] [data-panel][data-theme="light"] #sidebar ul > li > a{-webkit-border-radius: 0 50px 50px 0;border-radius: 0 50px 50px 0;margin-right: 5px;}
[dir="rtl"] [data-panel][data-theme="light"] #sidebar ul > li > a{-webkit-border-radius: 50px 0 0 50px;border-radius:50px 0 0 50px;margin-left: 5px;}
[data-panel][data-theme="light"] #sidebar ul > li > a.weAreHere{background-color: #e8f0fe;color:#1a73e8;}
[data-panel][data-theme="light"] #sidebar ul > li > a.activeContent{background-color: #d1e0f9;color:#1a73e8;}
[data-panel][data-theme="light"] #sidebar ul > li > a:hover{background-color: #f5f5f5;}
[data-panel][data-theme="light"] #sidebar ul > li > a:focus{background-color: #e0e0e0;}
[data-panel][data-theme="light"] #sidebar ul > li > ul{background-color: #fff;}
[data-panel][data-theme="light"] #sidebar ul > li.title{background-color: #fff;color:#3c4040;}
[data-panel][data-theme="light"] #sidebar ul > li.title:hover{background-color: #f5f5f5;}
[data-panel][data-theme="light"] #sidebar .hr{border-top-color: #dadce0!important}
[data-panel][data-theme="light"] #sidebar .activeContent{border-color:#1a73e8;color: #3c4040}

[data-panel][data-theme="light"] #ermileBadge{background-color:#fff;}
[data-panel][data-theme="light"] #ermileBadge h2{color:#555;}
[data-panel][data-theme="light"] #ermileBadge h3{color:#555;}
