.ticketSidebar .hero{
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.ticketSidebar .hero img{
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  display: block;
}
.ticketSidebar .hero h3{
  font-size: 1.8rem;
  font-weight: 700;
}
